.button {
  min-width: 120px;
  padding: 9px 16px;
  border-radius: 4px;
  font-size: 14px;
  display: inline-flex;
  border: 1px solid transparent;
  align-items: center;
  user-select: none;
  display: flex;
  align-items: center;
  background-color: var(--white);
  .icon + .content,
  .content + .icon {
    margin-left: 8px;
  }
  & + .button {
    margin-top: 6px;
  }
  .iconLeft,
  .iconRight {
    font-size: 26px;
  }
}

.outLine {
  border: 1px solid var(--btn-background);
}
.hover:hover {
  color: var(--btn-background);
}

.bg {
  background-color: var(--btn-background);
  color: var(--white);
  &:hover {
    color: var(#000);
  }
}

.large {
  width: 100%;
  text-align: center;
}
.hover:hover {
  color: var(--btn-background);
  border: 1px solid var(--btn-background);
}
.light {
  background-color: var(--white);
}
.inline {
  min-width: auto;
  border: 1px solid #ccc;
}

.mdbold {
  font-weight: 600;
  font-size: 16px;
}
.disabled {
  opacity: 0.3;
  background-color: rgb(188, 126, 126);
  cursor: none;
}
