.admin {
  padding: 0px 10px;
  height: 100vh;
  animation: 0.5s fadein ease;
  .search {
    margin: 20px 0px;
  }

  .listproduct {
    height: calc(100vh - 250px);
    box-shadow: 0px 0px 2px 0px;
    .fixed {
      background-color: var(--btn-background);
      padding: 10px 0px;
      margin: 0;
      color: #fff;
      font-size: 20px;
      .item {
        text-align: center;
      }
    }
    .listsitem {
      padding: 10px 0px;
      height: calc(100vh - 300px);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0px;
      }
      .items {
        animation: 0.5s fadein ease;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 10px;
        .item {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
        }
      }
      .items:hover {
        background-color: var(--btn-background);
      }
    }
  }
}
@keyframes fadein {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
