.popup {
  min-width: 200px;
  max-height: 400px;
  background-color: var(--white);
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  outline: none;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 8px 4px;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d62929;
  }
}
