.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    user-select: none;
    img {
      width: 100px;
    }
    p {
      padding-left: 3px;
    }
  }
  .form {
    display: flex;
    align-items: center;
    .search {
    }
    .avatar-control {
      width: 30px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
}

//responsive

@media screen and (max-width: 1000px) {
  .header {
    margin-bottom: 8px;
    .title {
      p {
        display: none;
      }
    }
    .content {
      display: none;
    }
  }
}
