.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  border-radius: 4px;
  padding: 4px 16px;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 12%) 0 0 8px;

  .nav {
    margin-right: 30px;
    overflow-x: scroll;
    position: relative;
    flex: 1;
    &::-webkit-scrollbar {
      position: absolute;
      height: 0px;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        min-width: 100px;
        text-align: center;
        border: 1px solid #ccc;
        margin-right: 10px;
        cursor: pointer;
        a {
          padding: 8px 10px;
        }
      }
    }
  }
  .nav2 {
    display: none;
  }
  .total {
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-weight: 500;
    }
    .cout {
      font-size: 16px;
      color: var(--btn-background);
      cursor: pointer;
      padding: 0px 8px;
    }
    .list {
      width: 300px;
      padding: 4px;
      .item {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 4px;
        .img {
          width: 40px;
          height: 40px;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .name,
        .count {
          font-size: 14px;
        }
        .name {
          width: 160px;
          padding: 0px 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .amount {
          color: rgb(0, 0, 0);
          font-size: 12px;
          margin-right: 4px;
        }
        .count {
          color: var(--btn-background);
          padding: 0px 8px;
        }
        .del {
          color: rgb(77, 73, 73);
          cursor: pointer;
        }
      }
      .item + .item {
        margin-top: 8px;
      }
      .item:hover {
        background-color: var(--btn-background);
        color: var(--white);
        .count {
          color: var(--white);
          font-weight: bold;
        }
        .del {
          color: rgb(40, 249, 71);
        }
      }
    }
  }
}

.wrapper {
  width: 100%;
  height: calc(100vh - 190px);
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}

//responsive

@media screen and (max-width: 1000px) {
  .categories {
    .nav {
      display: none;
    }
    .nav2 {
      display: block;
    }
    .list {
      max-height: 200px;
      li {
        list-style: none;
        padding: 4px 8px;
      }
    }
  }
}

@media screen and(max-width:768px) {
}
